<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - P_Flow</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link href="~/lib/bulma/bulma/css/bulma.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/bulma/bulma/css/bulma.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/P_Flow_Web.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/img/OIG4 (1).jpeg" />
    <style type="text/css">
        
    </style>
</head>
<body>    
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                @RenderBody()
            </div>
        </div>        
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/fontawesome/fontawesome/js/all.js"></script>
    <script src="~/lib/fontawesome/fontawesome/js/all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>