<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - P_Flow</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link href="~/lib/fontawesome/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/bulma/bulma/css/bulma.css" rel="stylesheet" />
    <link href="~/lib/bulma/bulma/css/bulma.min.css" rel="stylesheet" />
    <a href="~/lib/bulma/bulma/css/bulma.css.map">~/lib/bulma/bulma/css/bulma.css.map</a>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/P_Flow_Web.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/img/OIG4 (1).jpeg" />
</head>
<body>
    <header class="">
        <nav class="navbar has-shadow has-background-info has-text-light is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item link_color" asp-area="" asp-page="/Index">
                    <img src="~/img/OIG4 (1).jpeg" width="35px" height="50px" />&nbsp; Kazys
                </a>
                <div class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - P_Flow_Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/fontawesome/fontawesome/js/all.js"></script>
    <script src="~/lib/fontawesome/fontawesome/js/all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>